app/.venv
app/__pycache__
troubleshooting.txt
TODO.md
elastic-stack-docker-part-two.wg
.DS_Store
.gitignore
new-arch.excalidraw
base-arch.excalidraw
./smart-fleet-system/
/apm-example
/volume
/esdata01
/filebeat_ingest_data
/filebeatdata01
/kibanadata
/logstash_ingest_data
/logstashdata01
/metricbeatdata01